<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>
	<Paths>
		<docPath>/users/js/importantDocument.doc</docPath>
		<logPath>/users/js/dailyLog.log</logPath>
	</Paths>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
</XML>
