<?xml version="1.0" encoding="UTF-8"?><XML>	
	<Service Account="joao@iscte-iul.pt" Password="abcd" Protocol="imap"/>
	<Service Account="jose@iscte-iul.pt" Password="efgh" Protocol="pop"/>
	<Paths>
		<docPath>/users/js/importantDocument.doc</docPath>
		<logPath>/users/js/dailyLog.log</logPath>
	</Paths>	
<Service Account="manuel@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="manuel@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="diogo" Password="ola" Protocol="smtp"/>
<Service Account="manuel@iscte-iul.pt" Password="xyzw" Protocol="smtp"/>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="adeus" Password="ola" Protocol="smtp"/>
<Service Account="" Password="" Protocol="smtp"/>
</XML>