<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XML>
	<Paths>
		<docPath>/users/js/importantDocument.doc</docPath>
		<logPath>/users/js/dailyLog.log</logPath>
	</Paths>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<OtherNewTag>More new data</OtherNewTag>
<Service Account="diogo" Mailpassword="" Password="adeus" Protocol="smtp" mail=""/>
<Service Account="ola" Mailpassword="" Password="adeus" Protocol="smtp" mail=""/>
<Service Account="adeus" Mailpassword="" Password="ola" Protocol="smtp" mail=""/>
<Service Account="juvandes" Mailpassword="" Password="diogo" Protocol="smtp" mail=""/>
<Service Account="miguel" Mailpassword="" Password="1234" Protocol="smtp" mail=""/>
<Service Account="123" Mailpassword="" Password="456" Protocol="smtp" mail=""/>
<Service Account="456" Mailpassword="" Password="123" Protocol="smtp" mail=""/>
<Service Account="user" Mailpassword="" Password="pass" Protocol="smtp" mail=""/>
<Service Account="teste" Mailpassword="" Password="teste" Protocol="smtp" fbtoken="EAACnyXeKEEkBAEBd0pqQAT19f7emVmZCWh8ejRce7YUcY57pFOFux3FTZB93qJgHz9wsA5WW6X4ZCQsm0ivq36QQIAYaoChBsFi7z6ZBANr2fVZC75QZCwEL4WWPWskUQoZBcUpYRSRZCCuzqWmprZB9XaZBYOW4ZAPgIE8S6H88EygRwZDZD" mail="" t1=""/>
</XML>
